<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <title>{{env.TITLE}}</title>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            background-color: #FAFAFA;
            font-family: monospace;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .box {
            max-width: 360px;
            text-align: center;
        }

        .title{}
        
        .content{
            margin: 1rem 0;
        }

        .content .subtitle{
            font-size: 1.1rem;
            margin-bottom: .5rem;
        }
        
        .content .description{
            font-size: 0.7rem;
            color: #999;
        }
    </style>
</head>

<body>
    <div class="box">
        {{{body}}}
    </div>
</body>

</html>